extends ../layout

block append vars
    - title = "Node.js server deployment documentation";

block content
    .container
        h1 Paastor Documentation

        h3: a(href="/pages/usage.html") 5 Minute Quickstart Usage Guide
        h3: a(href="/pages/concepts.html") Basic Concepts
        h3: a(href="/pages/pstr-cli.html") 
            code pstr
            | , the Paastor CLI
        h3: a(href="/pages/sheep-system.html") Your Server, a Sheep - what gets installed
        h3: a(href="/pages/redis.html") Installing Redis
        h3: a(href="/pages/mongo.html") Installing MongoDB
        h3: a(href="/pages/ssl.html") SSL setup
        h3: a(href="/pages/faq.html") FAQ - frequently asked questions
        h3: a(href="/pages/changelog.html") Changelog
        

